@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
}

@{
    var name = "Test User";
    int a = 3, b = 4, c;
    c = a + b;
}



<h1>Your Name is @name</h1> <br />

<h1>Addition of two numbers is @c</h1>

