@model List<HRMSDotNetCoreMiniProject.Models.DocumentUpload>

@{
    ViewData["Title"] = "My Documents";
    string selectedFilePath = Context.Request.Query["viewFile"];
}

<h4>My Documents</h4>

<table class="table">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Download</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doc in Model)
        {
            <tr>
                <td>@doc.filename</td>
                <td><a href="@doc.filepath" download>Download</a></td>
                <td><a href="viewFile=@doc.filepath">View</a></td>
            </tr>
        }
    </tbody>
</table>

@if (!string.IsNullOrEmpty(selectedFilePath))
{
    <h5>Preview:</h5>
    <iframe src="@selectedFilePath" width="100%" height="600px" style="border:1px solid #ccc;"></iframe>
}

