<form method="post" style="margin:0px auto; width:350px;padding:20px; margin-top:120px;" class="form-control">

    <h3 style="text-align:center;"> Login Page </h3> <br />

    <input type="text" name="username" value="" placeholder="Enter Username/Email" class="form-control" /> <br />

    <input type="password" name="password" value="" placeholder="Enter Password" class="form-control" /> <br />

    <input type="submit" value="Login" class="form-control btn-primary" />

</form>