@model HRMSDotNetCoreMiniProject.Models.Employee



<form  class="form-control" method="post">

    Employee Name :  <input type="text" asp-for="empname" class="form-control" /> <br />

    Employee Email : <input type="text" asp-for="empemail" class="form-control" /> <br />

    Employee Salary :  <input type="text" asp-for="empsalary" class="form-control" /> <br />

    Department :
    <select  asp-for="deptid" asp-items="@ViewBag.departments" class="form-control">
        <option value="">-- Select Department --</option>
    </select> <br />

     Manager :
    <select  asp-for="mgrid" asp-items="@ViewBag.managers" class="form-control">
        <option value="">-- Select Manager --</option>
    </select> <br />

    Status : 
    <select asp-for="empstatus" class="form-control">
    <option>Active</option>
     <option>InActive</option>
    </select>  <br />

    <input type="submit" value="Save" class="btn btn-primary">




</form>

